.griD {
  width: 483px; height: 483px;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 3px, transparent 3px),
    linear-gradient(to bottom, grey 3px, transparent 3px);
}

.griD .cellS{
  width: 37px; height: 37px; display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center; line-height: 37px;
  margin: 3px 0 0 3px;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}