* {
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0fabdd;
  overflow: auto;
  position: relative;
  padding: 1px;
  min-width: 365px;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("./images/base.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: #0fabdd;
    background-size: cover;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    z-index: -1;
  }
}

.arrayTool {
  background-repeat: no-repeat;
  // width: 1550px;
  // height: 768px;
  // overflow: hidden;
  position: relative;
  font-family: "RubikLight";
  // min-width: 330px;

  margin: 30px 8px 9px;
  border-radius: 22px 22px 15px 15px;
  background-color: #fff;
  padding: 1px 0 0;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.16);

  header {
    position: absolute;
    top: -23px;
    left: 0px;
    font-family: "RubikLight";
    background-color: #fff;
    padding: 10px 22px;
    border-radius: 20px;

    h1 {
      font-size: 23px;
      color: #000;
    }
    h2 {
      font-size: 11px;
      color: #444;
      text-align: right;
      line-height: 1.5;
    }
  }

  #section {
    position: relative;
    padding: 1px;
    overflow: hidden;

    /* Grid */
    .griD {
      position: relative;
      margin: 85px 0 20px;
      width: 579px;
      height: 579px;
      background-size: 48px 48px;
      background-image: linear-gradient(to right, #e7e7e7 3px, transparent 3px),
        linear-gradient(to bottom, #e7e7e7 3px, transparent 3px);

      @media only screen and (max-width: 550px) {
        &._qset {
          margin: 65px 0 20px;
        }
      }
      @media only screen and (min-width: 550px) {
        &._qset {
          margin: 55px 0 20px;
        }
      }
      &.hide {
        display: none !important;
      }

      & > em {
        position: absolute;
        font-style: normal;
        right: 5px;
        bottom: 101%;
        font-size: 18px;
        line-height: 1.2;
        color: #000;

        &::before {
          content: "";
          display: inline-block;
          width: 25px;
          height: 25px;
          background-image: url("./images/sprite.png");
          background-repeat: no-repeat;
          background-position: -107px -15px;
          background-size: 162.25px 52.25px;
          margin: -3px 3px 0 0;
          vertical-align: middle;
        }
      }

      .checkingFeedback {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 30px;
        font-size: 26px;
        font-family: "RubikLight";
        line-height: 40px;
        white-space: nowrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        z-index: 1;
        pointer-events: none;

        @at-root .ar .checkingFeedback {
          direction: rtl;
        }

        &.correct {
          color: green;
        }
        &.incorrect {
          color: red;
        }

        &:empty {
          opacity: 0;
        }
      }

      .cellS {
        width: 45px;
        height: 45px;
        display: inline-block;
        background-color: #7ac943;
        text-align: center;
        line-height: 37px;
        margin: 3px 0 0 3px;
        color: #fff;
        font-weight: bold;
        font-size: 110%;
        transition: all linear 500ms;

        &.blank {
          background-color: rgba(0, 0, 0, 0);
        }
      }

      .flexGrid {
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-color: #000;
        padding: 0 3px 3px 0;

        .size_col,
        .size_row {
          background-image: url("./images/sprite.png");
          background-repeat: no-repeat;
          background-position: -539px -143px;
          width: 41px;
          height: 41px;
          display: block;
          line-height: 41px;
          text-align: center;
          position: absolute;
          font-family: "RubikRegular";
          font-size: 22px;
          pointer-events: none;

          &:empty {
            display: none;
          }
        }
        .size_col {
          top: -43px;
          left: 50%;
          margin-left: -20.5px;

          &._fix {
            left: 145px;
          }
        }
        .size_row {
          right: -43px;
          top: 50%;
          margin-top: -20.5px;
        }

        .equation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 25px;
          background-color: rgba(255, 255, 255, 0.9);
          padding: 5px 30px;
          font-size: 30px;
          font-family: "RubikLight";
          line-height: 40px;
          white-space: nowrap;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

          &:empty {
            display: none;
          }
          &.hide {
            opacity: 0;
          }
        }
      }

      .dragHandler {
        cursor: sw-resize;
        position: absolute;
        right: -15px;
        top: -15px;
        width: 60px;
        height: 60px;
        pointer-events: auto;

        &:focus {
          outline: 2px solid #0060df;
          border-radius: 5px;
        }
      }
    }

    .sh_btns {
      text-align: center;
      padding-bottom: 10px;

      .showEqn {
        box-sizing: content-box;
        border: 0 none;
        margin: 0 10px 10px;
        width: 245px;
        height: 39px;
        display: inline-block;
        cursor: pointer;
        background-color: #fff6d5;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
        font-family: "RubikLight";
        line-height: 39px;
        color: #603813;
        // position: absolute; top: 270px;

        // &.m{ left: -303px;}
        // &.d{ right: -303px;}

        &.active {
          background-color: #ffe274;
          color: #000;
        }
      }
    }
  }

  /* ButtonSet */
  .ButtonSet {
    text-align: center;
    // margin-bottom: 20px;
    overflow: hidden;
    min-height: 70px;
    position: relative;
    padding: 0 50px;

    & > button.mBtns {
      box-sizing: content-box;
      border: 0 none;

      width: 208px;
      height: 29px;
      text-align: center;
      background-color: #003e5f;
      background-image: url("./images/sprite.png");
      background-repeat: no-repeat;
      background-position: -8px -5px;
      display: inline-block;
      margin: 10px 8px 10px 0;
      cursor: pointer;
      color: #fff;
      padding: 0 0 14px;
      text-shadow: 0px 1px 3px #000;
      font: normal 19px/43px "RubikRegular";
      box-shadow: 0px 5px 6px rgba(3, 75, 221, 0.5);
      border-radius: 22px;

      @media only screen and (max-width: 600px) {
        margin: 0 auto 10px;
        display: block;
      }

      &:hover {
        background-color: #fb5b00;
        background-position: -8px -155px;
        box-shadow: 0px 5px 6px rgba(193, 24, 16, 0.5);
      }
      &.disable {
        background-color: #999999;
        background-position: -8px -80px;
        box-shadow: 0px 5px 6px rgba(76, 76, 76, 0.5);
        pointer-events: none;
        display: none;
      }
    }

    .navi {
      box-sizing: content-box;
      border: 0 none;
      width: 70px;
      height: 70px;
      background: url("./images/navi.png") no-repeat 0 0 transparent;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      cursor: pointer;
      font-size: 0;

      &.prev {
        left: 0;
        background-position: -70px 0;

        &:hover {
          background-position: -140px 0;
        }
        &.disable {
          background-position: 0 0;
          pointer-events: none;
        }
      }
      &.next {
        right: 0;
        background-position: -280px 0;

        &:hover {
          background-position: -350px 0;
        }
        &.disable {
          background-position: -210px 0;
          pointer-events: none;
        }
      }
    }
  }

  /* QuestionBuilder */
  .QuestionBuilder {
    position: absolute;
    right: 10px;
    bottom: 25px;
    width: 420px;
    height: 220px;
    border-radius: 10px 0 10px 10px;
    background-color: #ffe48f;
    text-align: center;

    &:focus {
      outline: 2px solid #0060df;

      & .closeQB {
        box-shadow: -2px -1px 0px #0060df, 1.5px -1px 0px #0060df,
          0px -2px 0px #0060df;
      }
    }

    @media (max-width: 1490px), (max-height: 768px) {
      // @media only screen and (max-width: 1365px) {
      position: relative;
      top: 0;
      right: 0;
      max-width: 90%;
      margin: 42px auto 20px;
      padding: 1px 1px 62px;
      height: auto;
    }
    @media only screen and (max-width: 650px) {
      width: 420px;
    }

    .closeQB {
      box-sizing: content-box;
      border: 0 none;
      position: absolute;
      right: 0;
      top: -24px;
      width: 33px;
      height: 24px;
      display: block;
      // background-color: rgba(0, 0, 0, 0);
      // background-image: url("./images/sprite.png");
      // background-repeat: no-repeat;
      // background-position: -616px 0;
      // font-size: 0;
      cursor: pointer;
      border-radius: 15px 15px 0 0;
      background-color: #ffe48f;
      font-size: 20px;
      font-weight: bold;
    }

    .checkBtn_QB {
      box-sizing: content-box;
      border: 0 none;
      width: 124px;
      height: 26px;
      margin: 5px 8px 4px 0;
      cursor: pointer;
      color: #fff;
      padding: 0 0 15px;
      text-shadow: 0px 1px 3px #000;
      font: normal 19px/40px "RubikRegular";
      float: right;
      text-align: center;
      background-image: url("./images/sprite.png");
      background-repeat: no-repeat;
      background-position: -265px -66px;
      background-color: #fb5b00;
      box-shadow: 0px 3px 4px rgba(193, 24, 16, 0.5);
      border-radius: 22px;

      &.disable {
        background-position: -265px -4px;
        background-color: #999999;
        box-shadow: 0px 3px 4px rgba(76, 76, 76, 0.5);
        pointer-events: none;
      }
    }

    .feedbackText {
      position: absolute;
      top: 13px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 1.5;

      @at-root .ar .feedbackText {
        direction: rtl;
      }

      &.correct {
        color: green;
      }
      &.incorrect {
        color: red;
      }
    }

    .innerQB {
      margin: 6px;
      background-color: #fff;
      padding: 48px 0;
      border-radius: 10px;
      line-height: 38px;
      font-size: 28px;
      font-family: "RubikRegular";
      vertical-align: middle;

      & > input {
        width: 65px;
        height: 38px;
        line-height: 38px;
        border: 0 none;
        border-bottom: 4px solid #999999;
        margin: 0 10px;
        font-size: 28px;
        font-family: "RubikRegular";
        text-align: center;

        @media only screen and (max-width: 450px) {
          width: 46px;
        }

        &.correct {
          color: green;
        }
        &.incorrect {
          color: red;
        }
      }
    }

    .dd_QB{
      width: 81px;
      height: 52px;
      display: inline-block;
      background-image: url("./images/sprite.png");
      background-repeat: no-repeat;
      background-position: -437px 0;
      background-color: transparent;
      vertical-align: middle;
      position: relative;
      text-align: left;
      border: 0 none;

      &:focus, &.whUAZ{
        outline: 2px solid #0060df;
        border-radius: 15px;
      }

      // .selected {
        // margin: 6px;
        // pointer-events: none;
      // }

      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul, .dropdown-selector-content {
        // display: none;
        width: 77px;
        height: 127px;
        background-image: url("./images/sprite.png");
        background-color:rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-position: -529px 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 12px;
        text-align: center;
  
        &.open {
          display: block;
        }
        li {
          height: 52px;
          line-height: 52px;
          font-size: 0;
          text-align: center;

          .sign_m:hover,
          .sign_d:hover,
          .dropdown-option.focused {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .dropdown-arrow{
      display: none;
    }

    .dropdown-selector-value{
      position: absolute;
      left: -5px;
      top: 0px;
    }

    .sign_m, .sign_d, .dropdown-selector-value {
      background-image: url("./images/sprite.png");
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0);
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 6px auto;
      vertical-align: middle;
      border-radius: 12px;
      cursor: pointer;
      padding: 0;
      color: rgba(0, 0, 0, 0);

      &.dropdown-option.focused {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
    .sign_m, .dropdown-selector-value[value="Multiply"] {
      background-position: -268px -135px;
    }
    .sign_d, .dropdown-selector-value[value="Divide"] {
      background-position: -329px -135px;
    }
  }

  /* QuestionSet */
  .QuestionSet {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 340px;
    max-width: 92%;

    @media (max-width: 1365px), (max-height: 768px) {
      position: relative;
      top: 0;
      left: 0;
      width: 55%;
      margin: 40px auto 0;
    }
    @media only screen and (max-width: 650px) {
      width: 340px;
    }

    & > div {
      padding: 5px;
      border-radius: 10px;
      font-size: 17px;
      font-family: "RubikRegular";
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      overflow: hidden;

      &.greyBox {
        background-color: #f2f2f2;
      }

      & #secTitle {
        & > span {
          display: block;
          margin: 5px 10px 0;
          line-height: 1.2;

          &:nth-child(1) {
            font-size: 14px;
          }
          &:nth-child(2) {
            font-family: "RubikSemiBold";
          }
        }
      }
      .innerBox {
        background-color: #fff;
        margin: 5px;
        padding: 25px 10px;
        border-radius: 10px;

        @at-root .ar .innerBox {
          direction: rtl;
        }

        & > span:nth-child(2) {
          display: inline-block;
          margin-left: 15px;
        }

        label {
          vertical-align: middle;
          display: inline-block;
        }
        input {
          font-size: 17px;
          width: 65px;
          text-align: center;
          border: 0 none;
          border-bottom: 4px solid #999999;
          background-color: transparent;
          padding: 4px 0 0;
        }
      }

      &.outcomeBox {
        margin-top: 10px;
        background-color: #ffe274;
      }
    }

    .feedbackText {
      width: 100%;
      text-align: left;
      font-size: 18px;
      padding: 10px 0 0;
      display: block;
      margin: 5px 10px 0;
      min-height: 52px;

      &.correct {
        color: green;
        line-height: 42px;
      }
      &.incorrect {
        color: red;
        line-height: 42px;
      }
    }

    .checkBtn_QS {
      box-sizing: content-box;
      border: 0 none;
      width: 124px;
      height: 26px;
      margin: 5px 8px 4px 0;
      cursor: pointer;
      color: #fff;
      padding: 0 0 15px;
      text-shadow: 0px 1px 3px #000;
      font: normal 19px/40px "RubikRegular";
      float: right;
      text-align: center;
      background-image: url("./images/sprite.png");
      background-repeat: no-repeat;
      background-position: -265px -66px;
      background-color: #fb5b00;
      box-shadow: 0px 3px 4px rgba(193, 24, 16, 0.5);
      border-radius: 22px;

      &.disable {
        background-position: -265px -4px;
        background-color: #999999;
        box-shadow: 0px 3px 4px rgba(76, 76, 76, 0.5);
        pointer-events: none;
      }
    }
  }
}

#reflector {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  // border-color: yellow;
  border-width: 90px 75px 95px;
  border-style: solid;
  opacity: 0;
}
.visuallyHidden {
  position: absolute;
  pointer-events: none;
  width: 100%;
  text-align: center;
  padding: 5px;
  opacity: 0;
}